<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATpnk1CgxXIObF-RkGKNXnxP9LLtX_c14</string>
	<key>GCM_SENDER_ID</key>
	<string>701929335375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.omnimuse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authomnimuse-bc130</string>
	<key>STORAGE_BUCKET</key>
	<string>authomnimuse-bc130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701929335375:ios:67cde99dfd281165d7d83a</string>
</dict>
</plist>